:root{
    --mainColor:#c72092
}

.logo{
    color: var(--mainColor);
    text-decoration: bold !important ;
    font-weight: bold;
    text-decoration: none;
    
}
.s{
    color:blueviolet;
    text-decoration: underline;
}
.fa-solid{
    color: black;
    cursor: pointer;
}
.nav-link{
    color: black !important;
}
.nav-link:hover{
    color: var(--mainColor)!important;
}
.navbar{
    box-shadow: 0 0 10px 5px #9E9E9E;
}
#home{
    background-image: url(image/bg1.png);
    height: 100vh;
    background-size: cover;
    background-position: center center;
   
}
.s1h1{
    color: var(--mainColor);
   font-weight: bold;
  
    
}
.sec1p{
    font-weight: bolder;
}
.sec2h2{
    color: var(--mainColor);
}
.card-img-top{
   
    width: 50%;
    height: auto;
    cursor: pointer;
}
.css{
    overflow: hidden;
}
.card-img-top:hover{
    transform: scale(1.2);
    
}
.btn-custom{
    background-color: var(--mainColor);
}
.card{
    box-shadow: 0px 0px 5px 0px var(--mainColor);
}
.shoes{
    border-radius: 3px;
    border: 2px solid var(--mainColor);
    background-color: var(--mainColor);
}